<mat-card class="card">

  <mat-card-title>
    {{ university.name }}
  </mat-card-title>

  <mat-card-content>
    <p><strong>Country:</strong> {{ university.country }}</p>
    <p><strong>Domain:</strong> {{ university.domains[0] }}</p>
  </mat-card-content>

  <mat-card-actions>

    <button mat-button (click)="openSite(university.web_pages[0])">
      Visit
    </button>

    <button mat-icon-button (click)="toggleFavorite()">

      <mat-icon>
        {{ isFavorite() ? 'favorite' : 'favorite_border' }}
      </mat-icon>

    </button>

  </mat-card-actions>

</mat-card>